# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

blue-app/generated/
blue-app/configs/
blue-app/__pycache__/
blue-app/services/__pycache__/
blue-app/services/mocks/__pycache__/
blue-app/model/__pycache__/
blue-app/ui/__pycache__/
blue-app/translation/*qm
settings/
music/
